<div class="containerconv">
<div class="centruj"><h3>Search results</h3></div>


<% if @search.search_catalogs.empty? %>

  <p>No Records Found</p>

  <%else%>

  <div class="containertable2">
    <table class="table table-hover">
    <thead>
      <tr>
        <th>Element</th>
        <th>Category</th>
        <th>Value</th>
        <th>Amount</th>
      </tr>
    </thead>

  <%@search.search_catalogs.each do |s|%>
<br>
<tbody>
<tr>
  <td><%= link_to s.element, s, class:"a" %></td>
  <td><%= s.value%></td>
  <td><%= s.category%></td>
  <td><%= link_to s.user.name, user_path(s.user_id), class: "a", data: { turbolinks: false } %></td>
</tr>
</tbody>
<%end%>
<%end%>
</table>
</div>
</div>
