
  <div class="message-history" id="shoutboxes">
    <%= render @shoutboxes %>
  </div>
  <div class="input-box">
    <input type="text" class="input-box_text" id="shoutbox_input" placeholder="Put your message here. :)"/>
  </div>

  <div class="listings">
    <div class="listings_channels">
      <h2 class="listings_header">Channels</h2>
      <div class="channel_list">
      <a href="#">#dolnoslaskie</a></li>
      <br><a href="#">#wielkopolskie</a>
      <br><a href="#">#mazowieckie</a>
      <br><a href="#">#lodzkie</a>
</div>

    </div>
    <div class="listings_direct-messages">
      <h2 class="listings_header">Direct Messages</h2>
      <div class="channel_list">
      <a href="#">eccproject2017@gmail.com</a></div>
    </div>
  </div>

<div class="footershoutbox">
  <div class="user-menu">
    <span class="user-menu_profile-pic"></span><span class="user-menu_username"><%= link_to current_user.email, user_path(current_user), class: "user-menu_username" %></span>
    <span class="connection_status">online</span>
  </div>
</div>
