 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";


.podpis{
  top: 10%;
  border: 3px;
  padding: 10px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  font-size: 35px;
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  line-height: 1em;
  display: inline-block;
}

.centruj {
  width: auto;
  text-align: center;
}


.footer {
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.wylacznik
{
  font-size: 28px;
  color: white;
}
.wylacznik:hover
{
  color: gray;
}

.containerprofile
{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  min-height: 300px;
  top: 50%;
  width: 50%;
  border: 3px;
  padding: 10px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -0%)
}

#map
{
  width: 350px;
  height: 250px;
  float: right;
  position: fixed;
  padding-bottom: 10px
}
