 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

h5
{
  color:white;
}


.centrujcontainer
{
    margin: auto;
    padding: 10px;
    width: 60%
}

.containersearch
{

  margin-top: 5%;
  padding: 20px;
  border-radius: 40px;
  background-color: rgba(100, 100, 100, 0.3);
}


 h3 {
   padding: 15px;
   font-size: 40px;
   font-family: Roboto, sans-serif;
   color:white;
 }

.podpis{
  top: 10%;
  border: 3px;
  padding: 10px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%);
  font-size: 35px;
  color: white;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  line-height: 1em;
  display: inline-block;
}

.centruj {
  width: auto;
  text-align: center;
}


.footer {
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.wylacznik
{

  font-size: 28px;
  color: white;
  padding: 3px;
}
.wylacznik:hover
{
  color: gray;
}

.containerprofile
{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  height: 25%;
  bottom: 100px;
  width: 50%;
  border: 3px;
  padding: 10px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -0%);
  display: flex;
}

.containerprofile2
{
  font-size: 15px;

  color: white;
  align-items: stretch;
  padding: 10px;
  width:50%;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.4);

}

#text {
    padding: 0px;
}

#map
{

  padding: 10px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  top: 0%;
  right: 0%;
  width: 40%;
  height: 100%;
  float: right;
  position: absolute;
  padding-bottom: 10px;
}

br {
   display: block;
     line-height:22px;
}

.paginejszon
{
  padding-top: 20px;
  bottom: 0%;
  float: left;
  position:fixed;
}
