// Place all the styles related to the catalogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.containerlogin{
    margin: auto;
    width: 40%;
    border: 3px;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.containertable{
    width: 50%;
    border: 3px;
    padding: 10px;
    position: absolute;
    top: 25%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.containerbuttons{
    margin: auto;
    padding: 10px;
    text-align: center;
}

.containerlinks
{
  margin-bottom: -25px;
  margin-left: -25px;
  margin-right: -25px;
}

.links
{
  padding-bottom: 5px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #E2EDF5;
}

/* unvisited link */
.a:link {
    color: #3F739A;
    text-decoration: none;
    background-color: none;
    font-weight: bold;
}

/* visited link */
.a:visited {
    color: #3F739A;
    text-decoration: none;
    background-color: none;
    text-font: bold;
}

/* mouse over link */
.a:hover {
    color: #4F90C1;
    text-decoration: underline;
    background-color: none;
    text-font: bold;
    cursor: pointer;
}

/* selected link */
.a:active {
    color: blue;
    text-decoration: none;
    background-color: none;
}
